<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Backchannel Application</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="header">
  <div class="title">
    <h1>B<dfn>ackchannel</dfn> A<dfn>pplication</dfn></h1>

  </div>
</div>
<div id="content">
  <div id="menu">
    <h2>Navigate</h2>
    <ul>
      <li><%= link_to 'Home', :controller => 'categories', :action => 'index' %></li>
      <li><%= link_to 'New Category', new_category_path %>   </li>
      <li><%= link_to 'View users', :controller => 'users', :action => 'index' %></li>
      <li><%= link_to 'Create New Admin', :controller => 'users', :action =>'new' %>  </li>
      <li><%= link_to 'Report', :controller => 'posts', :action => 'report' %> </li>
    </ul>

  </div>
  <div id="main">
    <div class="left">
      <div class="main_content">

        <p id="notice"><%= notice %></p>

        <p>
          <b>Unityid:</b>
          <%= @user.unityid %>
        </p>

        <p>
          <b>Password:</b>
          <%= @user.password %>
        </p>

        <p>
          <b>Name:</b>
          <%= @user.name %>
        </p>


        <%= link_to 'Edit', edit_user_path(@user) %> |
        <%= link_to 'Back', :controller => 'login', :action => 'index' %>


      </div>
    </div>
    <div class="right">


      <h2>Search</h2>
      <%= form_tag :controller => 'posts', :action => 'show_search' do%>

          <%= text_field_tag :search, params[:search] %>  <br/> <br/>
          <label> Search by :</label>
          <%= radio_button_tag 'search_by', 'unityid' %> <label>unityid</label>
          <%= radio_button_tag 'search_by', 'category' %> <label>category</label>
          <%= radio_button_tag 'search_by', 'tag' %>   <label>tag</label>
          <%= radio_button_tag 'search_by', 'content' %>  <label>content</label>  <br/> <br/>
          <%= submit_tag "Search" %>
      <% end %>
      <%= yield %>

    </div>
  </div>

  <div id="footer">
    <div class="bottom"> 2008 &copy; Hamsini, Amoolya, Anish | Valid <a target="_blank"
                                                                        href="http://validator.w3.org/check?
uri=referer" class="discrete">XHTML</a> and <a target="_blank"

                                               href="http://jigsaw.w3.org/css-validator/check/referer"
                                               class="discrete">CSS</a> | Design by <a
    href="http://eatlon.com" class="discrete">Eatlon.com</a> </div>
  </div>
</div>
<div id="ffscrollbarfix"></div>
</body>
</html>


